/* =========================================
   VARIABLES DE TORO TREINTA
   ========================================= */

// Colores
$color-rojo: #d81d38;
$color-azul-oscuro: #252c3d;
$color-blanco-humo: #f5f5f5;

// Tipografías
$fuente-titulos: 'DesignerCustom', sans-serif;
$fuente-textos: 'MontserratCustom', sans-serif;